body {
	background: #fff;
}
.container {
	max-width: 1368px;
	background: #fff;
	padding: 0px;
}

a {
	text-decoration: none !important;
}
ul {
    list-style-type: none;
	margin-left: 70px;
}
.navbar {
	margin-bottom: 0px;
	min-height: 65px;
	opacity: 0.95;
	margin-right: 0px;
	widows: 100%;
	border-radius: 0em;
}

.navbar-brand {
	padding: 5px 55px;
}

.navbar-title {
	text-shadow: 2px #456678;
	font-size: 1.6em;
	float: right; 
	margin-top: 15px; 
	margin-left: 10px;
}

.row {
	margin-right: 0px;
} 

.left {
	float: left;
}

.right {
	float: right;
}

.navbar-right {
	margin-top: 7px;
}

.main-container {
	background: #666;
	background-image: url("header_back1.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	width: 100%;
	margin-top: 0px;
	padding-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}

.header-section {
	padding-top: 10px;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	font-weight: bold;
}

.header-text {
	color: #fff;
	font-size: 2.0em;
	width: 80%;
	margin-left: 10%;
	padding-top: 90px;
	text-shadow: 3px 3px #444;
	text-align: center;
}

.header-title {
	text-shadow: 2px #456678;
	font-size: 1.6em;
	margin-top: 8px; 
	margin-left: 10px;
	text-align: center;
	width: 100%;
	
}

.header-hr {
	border: 2px solid #3569a7;
	width: 100px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.header-hr2 {
	border: 2px solid #CCCCCC;
	width: 100px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.windows-button {
	float: right;
}

.mac-button {
	float: left;
}

.mac-logo-padding {
	padding-left: 10px;
}
.button {
	width: 300px;
	height: 60px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(button.png);
	background-repeat: no-repeat;
	text-align: center;
	color: #fff;
	font-size: 1.2em;
	padding-top: 8px;
	text-shadow: 1px 1px #000;
	text-decoration: none;
}

.body-section {
	margin-left: 6%; 
	margin-right: 5%;
}

.body-text {
	font-size: 1.1em;
	padding-top: 30px;
	color: #222;

}

.body-text a{
	color: #2C5089;

}
.body-text-line1 {
	margin-bottom: 10px; 
	margin-top: 5px;
}

.body-text-line2 {
	margin-bottom: 10px;
}

.image-padding {
	padding-top: 30px;
}

.how_it_works_section {
	margin-bottom: 50px;
}
.info_box {
	background: url(plus1_left.png) no-repeat; 
	height: 400px;
}

.info_box_image {
	height: 400px;
	display: inline;
	
}

.section-line-divider {
	margin: 1% 6%; 
	border: 1px thin #666;
}

.section-line-divider2 {
	margin: 2% 6%; 
	border: 1px thin #666;
}

.exchange-section {
	margin-top: 30px;
	text-align: center;
	
}

.publisher-section {
	margin-top: 30px;
	text-align: center;
}
.pool-section {
	margin-top: 30px;
	text-align: center;
}

.pool-subtext {
	text-align: left;
}

.drop-shadow {
	padding-top: 3px;
	-webkit-filter: drop-shadow(2px 2px 2px #eee);
	filter: drop-shadow(2px 2px 2px #eee);
}

.footer-text {
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 1em;
	text-align: center;
	margin-bottom: 20px;
}

.grow { 
	transition: all .2s ease-in-out; 
}

.grow:hover { 
	transform: scale(1.1); 
}

/* Circle Row */
.circle-row {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
	padding-bottom: 80px
		}
.circle_container {
			width: auto;
			height: 225px;
			margin-top: 25px;
			display: inline-table;
	padding-left: 0px;
	padding-right: 0px;
		}

#circle {
	width: 110px;
	height: 110px;
	margin-left: 145px;
	/*background-image: url(html.png);*/
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#rectangle {
	margin-top: -55px;
	width: 400px;
	height: 210px;
	background-image: url("section_back.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 15px;
	border-radius: 10px;
	border: 1px solid #bbb;
}

.bottom_text2 {
	padding-top: 55px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	font-size: 1.1em;
	color: #222;
}

.main_caption_text {
	font-size: 1.4em;
	color: #222;
	text-align: center;
}


@media only screen and (max-width: 820px) {
    /* For mobile phones: */
	.navbar-title {
		text-shadow: 2px #456678;
		font-size: 1.3em;
		float: right; 
		margin-top: 15px; 
		margin-left: 10px;
	}
	
	.navbar-brand {
		padding: 8px 40px;
		
	}
	
	.main-container {
		margin-top: 0px;
	}
	
	.row {
		margin-left: 0px;
	}
	.header-text {
		padding-top: 95px;
	}
	.header-title {
		margin-left: 0px;
	}
	.windows-button {
		float: none;
	}
	
	.mac-button {
		float: none;
	}
	
	.info_box {
		background: none;
		border: none;
		border-radius: 0px;
		height: auto;
		padding-bottom: 30px;
	}
	
	.info_box_image {
		display: none;
	}
	
	.body-text {
		
	}

	
	.publisher-section {
		float: none; 
	}
	
	.exchange-section {
		float: none; 
		margin-top: 20px;
	}
	
	.pool-section {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.pool-subtext {
		text-align: center;
	}
	ul {
		margin-left: -40px;
	}
	
	.circle_container {
		width: auto;
		height: 245px;
		margin-top: 10px;
		margin-bottom: 30px;
		display: inline-table;
	}
	.circle-row {
		padding-bottom: 10px;
	}
	
	#circle {
		margin-top: 0px;
		width: 110px;
		height: 110px;
		margin-left: 95px;
	}
	#rectangle {
		width: 300px;
		height: auto;
		padding-bottom: 15px;
		
	}
	
	#rectangle block1 {
		width: 300px;
		height: 280px;
		padding-bottom: 15px;
	}
	
	.grow:hover { 
		transform: scale(1.0);
		}
	
	.col-sm-6 {
		padding-left: 0px;
		padding-right: 0px; 
	}

}



